@model String
@{
    ViewData["Title"] = "AddRole";
}

<h1>AddRole</h1>

<form asp-action="AddRole" method="post">
    
    <label for="name"></label>
  <input id="name" name="name" type="text" value="@Model" />

    <input type="submit" value="Add" class="btn btn-success" />
</form>