@using Identity.Models;
@model Identity.Models.People;
@{
    ViewData["Title"] = "AddRole";
}

<h1>AddRole</h1>

<form asp-action="AddRole" method="post">
    
    <label asp-for="Name"></label>
   <input asp-for="UserEmail" />

    <input type="submit" value="Add" class="btn btn-success" />
</form>