@using Identity.Models;
@model Identity.Models.AppUser;
@{
    ViewData["Title"] = "AddRole";
}

<h1>AddRole</h1>

<form asp-action="AddRole" method="post">
    
    <label asp-for="UserName"></label>
    @*<input asp-for="UserNumber" />*@

    <input type="submit" value="Add" class="btn btn-success" />
</form>