@model List<IdentityRole>
@{
    ViewData["Title"] = "AddThisUserToRole";
}

<h1>Pick role for the user</h1>

@foreach (var item in Model)
{
    <table>
        <tr>
            <td type="button" class=" btn-link ">

                <div class="btn-btn">
                    @Html.ActionLink(item.Name, "AddUserToRoleSave", "Account", new { userId = ViewBag.UsersId, roleId = item.Id })
          </div>  </td>
        </tr>
    </table>
   
}