@model List<AppUser>
@{
    ViewData["Title"] = "AddThisUserToRole";
}

<h1>Pick a user for this role</h1>

@foreach (var item in Model)
{
    <table>
        <tr>
            <td type="button" class=" btn-link ">

                <div class="btn-btn">
                    @Html.ActionLink(item.UserName, "AddUserToRoleSave", "Account", new { userId = item.Id, roleId = ViewBag.userid })
          </div>  </td>
        </tr>
    </table>
   
}