@model List<IdentityUser>
@{
    ViewData["Title"] = "AddUserToRole";
}

<h1>Add User To Role</h1>

<table>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Email</td>
        <td>&nbsp;</td>
        <td>@item.UserName</td>
  
       
        <td>
            <a asp-controller="Account" asp-action="AddUserToRoleSave">Add User</a>
           

        </td>
        
    </tr>
    }
</table>

<a asp-controller="Account" asp-action="RoleList">Back to Roles list</a>

