@model List<IdentityUser>
@{
    ViewData["Title"] = "AddUserToRole";
}

<h1>Add User To Role</h1>

<table>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.UserName</td>
       
        <td>
            <button> @Html.ActionLink("add to group ", "AddUserToRole", "Account", new { role = ViewBag.Role, userId = item.Id })</button>
           
        </td>
        <td>
            <button class="btn btn-danger btn-sm m-1"
                    onclick="AddPersonToRole('@("User" + Model)','@Url.Action("AddpersontoRole","user",new { id = Model })')">
                Delete
            </button>
        </td>
    </tr>
    }
</table>

<a asp-controller="Account" asp-action="RoleList">Back to Roles list</a>

