@using Identity.Models;
@model List<AppUser>
@{
    ViewData["Title"] = "AddUserToRole";
}

<h1>Add User To Role</h1>

<table>
    @foreach (var item in Model)
    {
    <tr>

        <td>&nbsp;</td>
        @if (item.UserName != null)
        {
           
                <td>@item.UserName</td>
                <td> @item.Admin</td>
            }

        


      
   
            <td>
                <button type="button" class="btn btn-success"> <a asp-controller="Account" asp-action="AddUserToRole">Add User</a></button>


            </td>
  


    </tr>
    }
    
</table>

<a asp-controller="Account" asp-action="RoleList">Back to Roles list</a>

