@using Microsoft.AspNetCore.Identity
@model CreateUserVM
@{
    ViewData["Title"] = "CreateUser";
}

<h1 >Create User</h1>
@if (ViewBag.msg != null)
{
    <p style="color:green">ViewBag.msg</p>
}

@if (ViewBag.errorlist != null)
{
    <ul>
        @foreach (var item in (IEnumerable<IdentityError>)ViewBag.errorlist)
        {
            <li>@item.Description</li>
        }
    </ul>
}

    <form asp-action="CreateUser" method="post">
        <div class="row">
            <div class="col-4">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" />
            </div>
            <div class="col-4">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="Password"></label>
                <input asp-for="Password" />
            </div>
            <div>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />

                <input type="submit" value="Create" />
            </div>
        </div>
    </form>