@model List<AppUser>
@{
    ViewData["Title"] = "RoleList";
}

<h1>RoleList</h1>

@*<a asp-controller="Account" asp-action="AddRole" class="btn btn-primary">Add new role</a>*@

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Members</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Name</td>
                <td>@item </td>
                <td></td>
                <td>
        <thead>
            <tr></tr>
        </thead>
        </td>
        </tr>
        <tr>

            <td></td>
        </tr>

        }
    </table>