@model List<IdentityRole>
@{
    ViewData["Title"] = "RoleList";
}

<h1>RoleList</h1>


<div id="Memberlist">

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>&nbsp;</th>
                <th>Members</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                <td>    <a asp-controller="Account" asp-action="AddUserToRole" class="btn btn-success">Add user to Country</a></td>
            </tr>
          
       

            }

                            
        </table>


        <button class="btn btn-dark btn-sm m-1"> <a href="javascript:history.back();">Back</a></button>
  












