@model List<IdentityRole>
@{
    ViewData["Title"] = "RoleList";
}

<h1>RoleList</h1>


<div id="Memberlist">

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Members</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

            <td>@item.Name</td>
          <td>   <a asp-controller="Account" asp-action="AddUserToRole" class="btn btn-primary">Add user to  role</a></td>
            <td><button>show members</button></td>

            
                <thead>
                    <tr></tr>


                    <tr>

                        <td></td>
                    </tr>
                </thead>

                }
        </table>










        @*<div id="Memberlist" align="center">


                @if ite != null)
                {
                    @foreach (var item in Model.)
                    {

                        <partial name="_StudentInClass" model="item" />
                    }


                }

                else
                {


                    <p>No students</p>
                }

            </div>

            <button class="btn btn-dark btn-sm m-1"> <a href="javascript:history.back();">Back</a></button>*@








