@model List<IdentityRole>
@{
    ViewData["Title"] = "RoleList";
}

<h1>Country</h1>


<div id="Memberlist">

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>&nbsp;</th>
                <th>Members</th>
            </tr>
        </thead>
        <tbody>
            @foreach (IdentityRole item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                  
                    <td>    <a asp-controller="Account" asp-action="AddThisUserToRole" asp-route-id="@item.Id" class="btn btn-success">Add users to this Role</a></td>
                </tr>



            }


    </table>


    <button class="btn btn-dark btn-sm m-1"> <a href="javascript:history.back();">Back</a></button>

