@model List<IdentityRole>
@{
    ViewData["Title"] = "RoleList";
}

<h1>RoleList</h1>

<a asp-controller="Account" asp-action="AddRole" class="btn btn-primary">Add new role</a>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="AddUserToRole" asp-route-role="@item.Name">Add Users to role</a>
                </td>
            </tr>
        }
    </tbody>
</table>