@model List<IdentityRole>
@{

    ViewData["Title"] = "Index";
}
@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome @User.Identity.Name</h1>
    @if (User.IsInRole("Admin"))
    {
        <button><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="RoleList">Role List </a></button>
        <button><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="AddRole">Add Role </a></button>
    }
    else
    {
<h1>You most-....</h1>
    }
}
@if (!User.Identity.IsAuthenticated)
{

    <h1> You most log in </h1>
}
