@model List<IdentityRole>
@{

    ViewData["Title"] = "Index";
}
@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome @User.Identity.Name</h1>
    @if (User.IsInRole("Admin"))
    {
        <button><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="RoleList">Role List </a></button>
        <button><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="AddRole">Add Role </a></button>
    }
    else
    {<table class="alert-danger">
            <tr>
                <td>
                    <h3>You must be a member of the Admin role to view this page</h3>
                    <h5>if you have a question</h5>
                    <a href="mailto:info@mattias-gustavsson.com?subject = Feedback&body = Message">
                        Send Email to Admin
                    </a>

                </td>
            </tr>

        </table>
    }
}
@if (!User.Identity.IsAuthenticated)
{

    <h1> You most log in </h1>
}
