@model List<IdentityRole>
@{

        ViewData["Title"] = "Index";
    }
    @if (User.Identity.IsAuthenticated)
    {<h1>Welcome @User.Identity.Name</h1>
       <button><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="RoleList">Role List </a></button> 
        <button><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="AddRole">Add Role </a></button>
    }
    @if (!User.Identity.IsAuthenticated)
    {

        <h1> You most log in </h1>
    }
